$bg: #34495E;
$bg-hover: #2C3E50;

$border: #3498DB;
$border-hover: #2980B9;

$cross-bg: $border;
$circle-bg: rgb(162, 87, 248);

$focus: rgb(109, 197, 255);

$bg-active: rgb(38, 163, 247);
$bg-active-second: rgb(255, 45, 185);

$bg-hover: rgba(255,255,255, .2);

$color-gray: #bdc3c7;
$color-text: #fff;
$color-text-hover: rgba(255,255,255,.6);


$transition: all .15s;

$font-default: "Lato", Helvetica, Arial, sans-serif;


$gutter: 20px;
$padding: $gutter/2;
$padding-big: $gutter;
$padding-sm: $gutter/2 - 5;
$body-font-size: 16px;

$grid-gutter-width: 30px;

$radius: 6px;


